name: Review PR
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - review_requested
      - review_request_removed
      - ready_for_review
  pull_request_review:

permissions:
  contents: read
  checks: write

jobs:
  review-approvals:
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        id: team_token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.TEAM_APP_ID }}
          private_key: ${{ secrets.TEAM_APP_KEY }}
      # !This must always point to main. 
      # Change it for the PRs but remember to change it back
      - name: "Evaluates PR reviews and assigns reviewers"
        uses: paritytech/review-bot@generate-output
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          team-token: ${{ steps.team_token.outputs.token }}
